/*
**		OBLIG 3 MMI
**		av ACME MMI
*/

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

aside, section, article, header, footer, menu, figure, nav {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	font-size: 18px;
	line-height: 1.5;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	color: rgba(10, 10, 10, 0.8);
}


#message {
	border: 1px solid black;
	padding: 0.5em;
	font-size: 2em;
}

#historikk {
	list-style: none;
}

#historikk li:first-child {
	font-size: 1.4em;
}

#historikk li:nth-child(2) {
	font-size: 1.3em;
}
