/*
**		OBLIG 3 MMI
**		av ACME MMI
*/

@media only screen and (orientation: landscape) {

	* {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, img {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}

	aside, section, article, header, footer, menu, figure, nav {
		display: block;
	}

	html, body {
		height: 100%;
		width: 100%;
	}

	html {
		font-size: 18px;
		line-height: 1.5;
	}

	body {
		font-family: "Roboto", sans-serif;
		background-color: #fff;
		color: rgba(10, 10, 10, 0.8);
	}


	/*	Applikasjonscontainer
	*/

	#application {

	}

	#application section {
		width: 100%;
		display: block;
	}

	/*	Applikasjonstittel
	*/

	header {
		height: 10vh;
		background-color: rgba(10, 10, 10, 0.8);
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

		header h1 {
			color: #ffffff;
			font-size: 1rem;
			text-transform: uppercase;
			text-align: center;
			line-height: 1;
			margin: 0;
			padding: 0;
		}


	/*	Meldinger
	*/

	#message {
		font-size: 1.5rem;
		display: block;
		width: 100%;
		text-align: center;
		min-height: 22.5vh;
		line-height: 22.5vh;
		box-sizing: border-box;
		z-index: 4;
	}

	#historikk {
		width: 100%;
		display: block;
		list-style: none;
	}

	#historikk li {
		display: block;
		width: 100%;
		text-align: center;
		min-height: 22.5vh;
		line-height: 22.5vh;
		box-sizing: border-box;

	}

	#historikk li:nth-child(3) {
		font-size: 1.3rem;
		background-color: rgba(0, 0, 0, 0.05);
		z-index: 3;
	}

	#historikk li:nth-child(2) {
		font-size: 1.1rem;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 2;
	}

	#historikk li:nth-child(1) {
		font-size: 0.9rem;
		background-color: rgba(0, 0, 0, 0.15);
		z-index: 1;
	}

}


/*	Animasjoner
*/

@keyframes new-message {
	from 	{ background-color: rgba(155, 255, 135, 1); }
	to 		{ background-color: rgba(155, 255, 135, 0); }
}

@-webkit-keyframes new-message {
	from 	{ background-color: rgba(155, 255, 135, 1); }
	to 		{ background-color: rgba(155, 255, 135, 0); }
}

.new-message {
	animation: new-message 1s;
	-webkit-animation: new-message 1s;
}